In [1]:
name, age, phone = '홍길동', 25, '010-9999'

In [2]:
소개 = '이름은 {}이고, 나이는 {}이며, 전화번호는 {}입니다'.format(name, age, phone)
소개

'이름은 홍길동이고, 나이는 25이며, 전화번호는 010-9999입니다'

In [3]:
소개 = '이름은 {0}이고, 나이는 {2}이며, 전화번호는 {1}입니다'.format(name, age, phone)
소개

'이름은 홍길동이고, 나이는 010-9999이며, 전화번호는 25입니다'

In [4]:
소개 = '이름은 {a}이고, 나이는 {b}이며, 전화번호는 {c}입니다'.format(a = name,b=  age, c = phone)
소개

'이름은 홍길동이고, 나이는 25이며, 전화번호는 010-9999입니다'

In [5]:
소개 = f'이름은 {name}이고, 나이는 {age}이며, 전화번호는 {phone}입니다'
소개

'이름은 홍길동이고, 나이는 25이며, 전화번호는 010-9999입니다'

In [8]:
jan, dec = 1, 12

In [10]:
print("한해의 시작은 {:02d}월".format(jan))
print("한해의 마지막은 {:02d}월".format(dec))

한해의 시작은 01월
한해의 마지막은 12월

In [11]:
val = 123456789
money = '{:,}'
money.format(val)

'123,456,789'

In [12]:
'{}, {:f}, {:.1f},{:.2f},{:.2%}'.format(3,3,3,3.1415,1/3)

'3, 3.000000, 3.0,3.14,33.33%'