# for 반복문

In [15]:
for num in [1,2,3]:
    print(num)

1
2
3

In [16]:
for st in ['hello','world','python']:
    print(st)

hello
world
python

In [17]:
score = {'국어':95,'영어':90,'수학':80}

In [18]:
for item in score.keys():
    print(item)

국어
영어
수학

In [19]:
for item in score.values():
    print(item)

95
90
80

In [20]:
for key,value in score.items():
    print(f'{key}과목 점수는 {value}점 입니다')

국어과목 점수는 95점 입니다
영어과목 점수는 90점 입니다
수학과목 점수는 80점 입니다

In [21]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [22]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [23]:
list(range(10,0,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [24]:
for i in range(1,11,2):
    print(i)

1
3
5
7
9

In [25]:
for i in range(0,11,2):
    print(i)

0
2
4
6
8
10

In [26]:
for i in range(1,10):
    ans = 2 * i
    print(f'2 X {i} = {ans}')
else:
    print('2단을 종료합니다.')

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2단을 종료합니다.